.THIS .styleheadertext {
   
    border-radius:10px;
    height:30px;
   
}

.THIS .uiMessage.warning {
    border-color: #f8e38e;
    background-color: #ffb75d;
}

.THIS .uiMessage.confirm {
    color: #fff;
    background-color: rgba(4,132,75,.95);
}

.THIS .trimsubject
{
    width:170px;
}

.THIS .emailhist
{
    font-size:20px;
    text-align:right;
}
.THIS .styleheadertex {
   
    border-radius:10px;
    height:30px;
    width:95%;
   
}
.THIS .emailhist{ width:100%;}

.THIS .slds-table--cell-buffer {
  overflow:scroll;
}

.THIS .messagefont {
 font-size:14px; 
    margin-top:10px;
    margin-bottom:10px;
    
}
.THIS .spacenext {
	margin-left: .2%;
}

.THIS .link {
    margin: 0px;
    width: 100%;
    border-color: blue;    
}

.headercolr.THIS  {
    background-color:#000000;
}
.THIS .bodys {
  height:150px;
   
}

.THIS .historyeventdivwidth {
 width: 500px;
}

.THIS .marginevent {
  margin-top:10px;
}



.THIS .emailbutton{margin:0px 0px 0px 20px ;}
.THIS .emailbutton img{margin:-2px 0px 0px 0px; }
.THIS .convertbutton{margin:0px 7px 0px 7px ;}
.THIS .convertbutton img{margin:-2px 0px 0px 0px; }
.THIS .deletebutton{}
.THIS .deletebutton img{margin:-8px 0px 0px 0px; }

.THIS .leadname{float:left; margin-left: 10px; margin-top:8px; font-size:16px;}
.THIS .topcrossicon {font-size:20px; float:right; text-align:top;}
.THIS .hightwdth {
height: 27px;
}
.THIS .page-content{ margin:0px;  }
.THIS .modalwidth {
width:50% !important ;
   
}

.THIS .herdrstyle {
 color:rgb(22, 50, 92);;
 font-size:25px;

 
}
.THIS .bckgrdcolor {

	background-color:#f7f9fb;
}
.THIS .fltright {
float:right;

}
.THIS .stylee {
vertical-align: text-bottom;

}
.THIS .hightinc {
line-height: 3;
}

.THIS .btntextcolor {
 color: white !important;   
}

.THIS .detailsteblewidth {
height: 67px;

}

.THIS .header
{
    font-size:15px;
}

.THIS .emailheader
{
    font-size:17px;
}

.THIS .detilbuton {
   
    text-align: center;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff;
    padding: 0px px 0px 0px !important;
}

.THIS .editbuttonofdetails {
 vertical-align: bottom;
 margin-right: 17px !important;
}
.THIS .detainleadfontsize {
color:rgb(78, 92, 113); 
    font-size: 0.9em; 
    
}



.header-section.THIS { padding:20px 20px 20px 10px;
    border-top:#0070d2 solid 2px;
    background: #f8f9fd;
}
.THIS .evnttop {
vertical-align: top;
margin-left:10px;

}

.THIS .customselectbox{
 height:34px !important;   
    
}

.THIS .crossmodalsize{
  font-size:40px; 
}


.THIS .searchbar{   box-shadow: 0px 1px 2px 1px rgba(50,50,50,.2);
    border: none;
    height: 35px;  
    border-radius:1px;
    font-size: 15px;
    color: #333;
    padding: 2px 0 2px 10px;
    width: 50%;}
.THIS .sendermailserach{   box-shadow: 0px 1px 2px 1px rgba(50,50,50,.2);
    border: none;
    height: 35px; margin-top:10px;
    border-radius:1px;
    font-size: 15px;
    color: #333;
    padding: 2px 0 2px 10px;
    width: 100%;}

 

.THIS .sendermailserach::-webkit-input-placeholder { color: #333; font-size: 15px; color: #ccc;  }
.THIS .sendermailserach:-moz-placeholder {  font-size: 15px; color: #ccc; }
.THIS .sendermailserach::-moz-placeholder {  font-size: 15px; color: #ccc;  }
.THIS .sendermailserach:-ms-input-placeholder {  font-size: 15px; color: #ccc;  }

.THIS .searchbar::-webkit-input-placeholder { color: #333; font-size: 15px; color: #ccc;  }
.THIS .searchbar:-moz-placeholder {  font-size: 15px; color: #ccc; }
.THIS .searchbar::-moz-placeholder {  font-size: 15px; color: #ccc;  }
.THIS .searchbar:-ms-input-placeholder {  font-size: 15px; color: #ccc;  }

.THIS .slds-input::-webkit-input-placeholder { color: #333; font-size: 15px; color: #ccc;  }
.THIS .slds-input::-moz-placeholder {  font-size: 15px; color: #ccc; }
.THIS .slds-input::-moz-placeholder {  font-size: 15px; color: #ccc;  }
.THIS .slds-input::-ms-input-placeholder {  font-size: 15px; color: #ccc;  }
 

.page-content.THIS {padding: 20px; box-shadow: 0px 1px 10px 0 rgba(50,50,50,.2) inset;
    background: #fff; 
}
.THIS .customtabs{ padding:8px 10px 8px 10px;
    text-align: center; border-radius:1px;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff; color:rgb(0, 112, 210);
    
    border-radius: 3px;
}
   
.THIS .customtabs:hover{ border:#3774d2 solid 1px; }

.THIS .btn{padding:8px 10px 8px 10px;
    text-align: center; border-radius:1px;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background-color: #fff; color:rgb(0, 112, 210); 
    border-radius: 3px;}

.THIS .btn:hover{ border:#3774d2 solid 1px; background-color: #fff;color:#3774d2;}
.THIS .detilbuton{
    text-align: center; border-radius:1px;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    background: #fff;    background: linear-gradient(#fff,#fff); box-shadow:none; color:#3774d2; 
    border-radius: 3px;}
.THIS .detilbuton:hover{border:#3774d2 solid 1px;text-shadow:none; background-color: #fff; color:#3774d2;}
.THIS .detilbuton:focus{border:#3774d2 solid 1px;text-shadow:none; background-color: #fff; color:#3774d2;}
.THIS .detilbuton span{color: #3774d2;padding:0px;
    font-size: 13px; display:block;
    font-weight: normal;}
.THIS .detilbuton .label{color:#3774d2;}
.THIS .detilbuton span:hover{ text-shadow:none; background-color: #fff;color:#3774d2;}
.THIS .detilbuton span:focus{ text-shadow:none; background-color: #fff;color:#3774d2;}

.THIS .table-icon{margin:-5px 5px 0px 0px;}
 .THIS .table-bordered>thead>tr>th{border:none;}
.THIS .table-striped>tbody>tr:nth-of-type(odd){    background-color: #fff;}

 .THIS .table tbody tr td{      padding: 4px 4px 4px 11px;
    line-height: 16px;
    color: #324a6f;
    font-size: 13px;
    vertical-align: middle; text-align:left;} 
 
.THIS .rightpanel h4{ font-size:18px; color:#2c466c; font-weight: normal; }

.THIS .rightpanel{border-left: 1px solid #f2f2f2; height:auto; overflow:auto; padding-right:2.05rem !important;  background:#fff; padding:0px 20px 5px 20;}

.THIS .slds-tabs--scoped ul{ margin-bottom:0px;}
.THIS .table th td{ padding:0px;} 

.THIS  .table-responsive {
    overflow-x: auto;
}

.THIS .tablemargin {
    margin-left:10px;
}
 
.THIS .detailmodmargin {
    margin-left:2px;
}


.THIS .checkbox{padding:0px 0px 0px 15px;}
.THIS .leadnamelink{color:#2785d9; text-align:left; display:block;}
.THIS .emailhistoryname{color: #564a4a; padding: 10px 10px 8px 10px;   text-transform: capitalize; border-bottom: #ccc solid 1px;}
.THIS .clearfix{ clear:both;}
.THIS .pullleft{ float:right;}
.THIS .pullright{  float:right; margin-right:20px;}
.THIS .textleft{ text-align:left;}
.THIS .textright{  text-align:right;}
.THIS .voffset {margin-top: 2px;}
.THIS .voffset1 {margin-top: 5px;} 
.THIS .voffset15 {margin-top: 15px;} 
.THIS .voffset2 {margin-top: 10px;}
.THIS .voffset3 {margin-top: 20px;}
.THIS .voffset4 {margin-top: 30px;}
.THIS .voffset5 {margin-top: 40px;}
.THIS .voffset55 {margin-top: 45px;}
.THIS .voffset6 {margin-top: 50px;}
.THIS .voffset51 {margin-top: 51px;}
.THIS .voffset7 {margin-top: 70px;}
.THIS .voffset75 {margin-top: 74px;}
.THIS .voffset8 {margin-top: 100px;}
.THIS .voffset9 {margin-top: 150px;}
.THIS .voffset10 {margin-top: 200px;}
.THIS .voffset8 {margin-top: 100px;}
.THIS  .next-step-list{}
.THIS  .next-step-list ul{clear: both}
.THIS  .next-step-list ul li{ padding:5px; width: 80%; float: left;}
.THIS  .next-step-list ul li:first-child {width:50px; 
}
        
.THIS .pastactiity-list{}
.THIS .pastactiity-list ul{clear: both}
.THIS .pastactiity-list ul li{ padding:5px; width: auto; float: left;}
.THIS .pastactiity-list ul li:first-child {width:35px  
}
.THIS .close{font-size:35px;line-height:30px;  }
.THIS .close:hover{text-decoration: none;}
.THIS #spinner    
{	top :90%;
    position: absolute;
}

.THIS #stylingHeader
{
    text-align:-webkit-left;
}