.THIS.map {
	width	: 100%;
    
}

@media only screen and (min-width: 10px) {
.THIS.map-border {
	border-radius: .25rem;
	border: 1px solid rgb(216, 221, 230);
	background-color:white;
	/*margin: .75rem;*/
   	padding: 8px;
	    
}
}
@media only screen and (min-width: 1025px) {
.THIS.map-border {
	border-radius: 4px;
    /*margin: 0px;	 */   
}
}


.THIS.Small {
	height	: 300px;
}

.THIS.Medium {
	height	: 500px;
}

.THIS.Large {
	height	: 700px;
}